# SERVER
SERVER_PORT=3000

# PROJECT
PROJECT=RChain

# DB
# this is for local running to develop
DB_URL=mongodb://localhost:27017/RChain
# this is for running docker container to develop
#DB_URL=mongodb://RChain-mongo:27017/RChain

# APP
APP_SECRET=rchain

# AWS
AWS_ACCESS_KEY=YOUR_AWS_KEY
AWS_ACCESS_SECRET=YOUR_AWS_SECRET
S3_REGION=YOUR_S3_REGION
S3_BUCKET=YOUR_S3_BUCKET

# ADMIN_USER
ADMIN_NAME=rchain admin
ADMIN_USERNAME=adminacc
ADMIN_PASSWORD=password
ADMIN_EMAIL=
ADMIN_COUNTRY=global

# Forum SSO Secret
SSO_SECRET=YOUR_SSO_SECRET

# Google Translation
TRANSLATION_PROJECT_ID=YOUR_TRANSLATION_PROJECT_ID
TRANSLATION_KEY_FILE=YOUR_TRANSLATION_KEY_FILE

# Mailgun
MAILGUN_DEV_CODE_BYPASS=true
MAILGUN_URL=
MAILGUN_API_KEY=
MAILGUN_URL_FROM_TEXT=RChain E-mail service<no-reply@rchain.com>
MAILGUN_BACKUP=
FORUM_URL=

ENDPOINT=http://127.0.0.1:8545
NETWORK_ID=
LOAD_INTERVAL=5000
# CONTRACT_ADDRESS=
# PRECOMPILED=1